h1{
    color: #f4f4f4;
    text-align: center;
    font-size: 70px;
    margin-top: 40px;
}
h2{
    color: #f4f4f4;
    text-align: left;
    font-size: 30px;
}
.body{
    background-image: url(../images/coffee.jpg);
    background-size: 100%;
}

#search{
    
    background-color: rgb(22, 101, 190);

}


.table{
    background: rgba(127, 126, 129, 0.5); /* Table */
    transition: all 2s;
}
.table:hover{
    transform: scale(1.1);
}
#news{
    color: white;
}

#vicinity{
    width: 600px;
}
tr{
    color: white;
}
#map{
    height: 400px;
    width: 1100px;
    padding: 10px;
    border: 2px solid white;
    margin-right: 105px; /* This is where you can move the map left or right */
    
}
h1{
    font-family: 'Roboto', sans-serif;
}

.form{

    float: right;
    left: 200%;

}
*,*:after,*:before {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  
  .cf:before,
  .cf:after {
      content:"";
      display:table;
  }
  .cf:after {
      clear:both;
  }
  a,a:visited {
    color:#fff
  }
  
